<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Nouvelle Visite</title>
   <link rel="stylesheet" href="assets/css/style2.css">
   <!-- Lien vers FontAwesome pour les icônes -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="login-container">
        <!-- En-tête avec SECURIT -->
        <header>
            <div class="securit-header">
                <img src="/assets/images/logo.png" alt="Logo SECURIT" />
            </div>
        </header>
    
        <!-- Contenu principal -->
        <main>
            <h2>Nouvelle Visite</h2>
            <form action="/register-visit" method="POST">
                <!-- Date de la visite -->
                <div class="form-group mb-2">
                    <label for="visit_date">Date :</label>
                    <input type="date" id="visit_date" name="visit_date" required />
                </div>
    
                <!-- Choix de l'entreprise -->
                <div class="form-group mb-2">
                    <label for="company">Entreprise :</label>
                    <select name="company" id="company" required>
                        <option value="" disabled selected>Choisissez...</option>
                        
                        <% for (company of companies) { %>
                        <option value="<%= company.id %>"><%= company.name %></option>
                        <% }; %>

                    </select>
                </div>
    
                <!-- Compte-rendu de la visite -->
                <div class="form-group mb-4">
                    <label for="report">Compte-rendu :</label>
                    <textarea id="report" name="report" rows="4" placeholder="Décrivez la visite..." required></textarea>
                </div>
    
                <!-- Bouton de soumission -->
                <button type="submit" class="submit-btn">Enregistrer la visite</button>
            </form>
            <br>
            <!-- Bandeau de navigation -->
            <div class="nav-bar">
                <div class="nav-item active">
                  <span>Visites</span>
                </div>
                <div class="nav-item">
                  <span>Entreprises</span>
                </div>
                <div class="nav-item">
                  <span>Réglages</span>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
