<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Compte créé</title>
</head>
<body>
    <div class="login-container">
        <div>
        <img src="/assets/images/logo.png">
        </div>
           <h2>Votre compte a été créé avec succès</h2>
    <form action="/login" method="POST">
            <div>
                <button type ="submit" class="large-button">Connexion</button>
            </div>
    </form>
    </div>
</body>
</html>